<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GMailMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="ReadingsDB" connectionString="Filename=readings.db" />
    </connectionStrings>
    <userSettings>
        <GMailMonitor.Properties.Settings>
            <setting name="ImapSrv" serializeAs="String">
                <value>imap.gmail.com</value>
            </setting>
            <setting name="ImapUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ImapPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SslPort" serializeAs="String">
                <value>993</value>
            </setting>
            <setting name="FlatNumberRegex" serializeAs="String">
                <value>(?:(?:[кК]вартира|[кК][вВ])[.,]?\W(\d+[\wаА-яЯ]?)\W?)</value>
            </setting>
            <setting name="MeterReadingRegex" serializeAs="String">
                <value>(\d+[,.]?\d+)</value>
            </setting>
        </GMailMonitor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
